name: run-github-stats-checkpoint
 
on:  
  push:               
    branches: [ main ]
  pull_request:      
    branches: [ main ]
  workflow_dispatch:  

jobs:
  great_expectations_validation:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
 
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Check installed packages
      run: |
        pip show great_expectations

    - name: Generate test data
      run: |
        python scripts/generate_dirty_data.py
 
    - name: Run Checkpoint
      env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
      run: |
        python -m gx_project.schema_validation