name: run-github-stats-checkpoint
 
on:  
  push:               
    branches: [ main ]
  pull_request:      
    branches: [ main ]
  workflow_dispatch:  

jobs:
  great_expectations_validation:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Debug - list files
      run: |
        pwd
        ls -R

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
 
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r data-quality-pipeline-gx/requirements.txt
 
    - name: Run Checkpoint
      run: |
        python great_expectations/schema_validation.py